
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

.section {
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
    padding-top: 15px;
  }

.top_navbar {
    
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    
    
    }  

.img_perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 75%;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20ppx;
    }
  


.sidebar {
    
    height: 100%;
    background:#010d33;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    padding: 6px 14px;
    transition: all 0.5s ease;
    }
.sidebar .logo_content .logo
{
    color:#e0e0e0;
    display: flex;
    height: 50px;
    width: 75%;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 12px;

}
.sidebar #btn{
    position: absolute;
    color: #ffffff;
    left: 80%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-10%);
    
    
}

.sidebar ul{
    margin-bottom: 150%;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-top: 10px;

}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(25%);
    height: 35px;
    border-radius: 6px;
    width: 122px;
    background: #026370;
    line-height: 35px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    

}
.sidebar ul li a{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 10px;
}

.sidebar ul li a:hover{
    background: #026370;
    color: white;
    transition: 1.5s;
    border-radius: 50px;
    
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    outline: none;
    border: none;
    background: #ffffff;
    padding-left: 60px;
    font-size: 16px;
    color: #F1F1F1;
}

.sidebar ul li .bx-search{
    position: absolute;
    padding: 10px 0;
    padding-top: 26px;
    z-index: 99;
    color: #F1F1F1;
    transition: 0.5s;
    

}

.sidebar ul li input:hover{
    background:#026370;
    transition: 0.5s;
    
    
}

.sidebar .profile_content{
    position: absolute;
    color: #010d33;
    bottom: 0;
    left: 0%;
    padding-left: 5px;
    width: 100%;
}

.sidebar .profile_content .user_icon{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    
}

.sidebar .profile_content .user_icon:hover{
    opacity: 50%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    background: #b4b3b3cc;
}

.profile_content .user_icon .img_perfil{
    height: 45px;
    width: 45px;
    border-radius: 12px;
    object-fit: cover;
    padding-bottom: 20p;
    
    
}

.profile_content .profile .name{
    color:#fcfcfc;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 400;
}

.profile_content .profile #log_out{
    
    position:absolute;
    bottom: 5px;
    left: 88%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size:  20px;
    border-radius: 12px; 

}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% -200px);
    left: 240px;

}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
    
}